.header {
    background-color: rosybrown;
    height: 5em;

    &__container{
        display: flex;
        flex-direction: row;

        justify-content: end;

        a{
            padding: 0 2em;
            text-decoration: none;
        }
    }


}
