<div class="container mt-5">
  <h1 class="mb-4">Aspectos Éticos y Legales</h1>
  
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados</h2>
      <p class="card-text">Norma que regula el tratamiento de datos personales en posesión de los sujetos obligados.</p>
      <a href="https://www.diputados.gob.mx/LeyesBiblio/pdf/LGPDPPSO.pdf" target="_blank" class="btn btn-primary">Descargar PDF</a>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Ley de la Propiedad Industrial</h2>
      <p class="card-text">Regula los derechos de propiedad industrial en México.</p>
      <a href="" target="_blank" class="btn btn-primary">Descargar PDF</a>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Ley Federal del Derecho de Autor</h2>
      <p class="card-text">Protege los derechos de los autores sobre sus obras literarias y artísticas.</p>
      <a href="" target="_blank" class="btn btn-primary">Descargar PDF</a>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Código Penal Federal</h2>
      <p class="card-text">Regula los delitos y las penas aplicables en México.</p>
      <a href="" target="_blank" class="btn btn-primary">Descargar PDF</a>
    </div>
  </div>
</div>
